header{
    box-shadow: 2px 2px 2px rgba($color: #45a049, $alpha: 0.9);
}

.logo {
    cursor: pointer;
    height: 70px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.light-mode {
    background-color: #fff;
}

.dark-mode {
    background-color: #212324;
 
}

.right-button {
    cursor: pointer;
    height: 40px;
   
    margin-top: 60px;
    margin-bottom: 15px;
    float: right; /* Damit der Knopf auf der rechten Seite erscheint */
    margin-right: 10px; /* Optional: Füge einen Abstand zwischen dem Logo und dem Knopf hinzu */
    /* Weitere Styling-Attribute nach Bedarf */
  }
