.all{
    font-family: 'tui-text_body-xl', sans-serif;
}

.light-mode {
    background-color: #fff;
}

.dark-mode {
    background-color: #262829;
    color: #fff;
}

body{
    background-color: black;
}
